<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Quizzes mania</h1>
<h2>This is a quiz generator!</h2>
<div>
    <a href="/">Main page</a>
    <a href="question">Questions</a>
    <a href="quiz">Quizzes</a>
    <a href="answer">Answers</a>
</div>
<p>At the moment you can:</p>
<hr/>

<h2>Generate new Quiz</h2>

<form action="/quiz" method="post">
    Quiz name: <input type="text" name="quizName"><br>
    <p>Select categories of questions which you want to include in the Quiz: </p>
    <input type="checkbox" name="questionCategories" value="Java">Java<br>
    <input type="checkbox" name="questionCategories" value="Spring">Spring<br>
    Select quantity of questions in the quiz: <input type="number" name="questionCount" value="2"><br>

    <input type="submit" value="Submit">
</form>

<hr/>
<h2>Browse Questions</h2>
<div>
    <a href="question/all">Check all questions via <i>Hibernate</i> repository.</a>
</div>
<div>
    <a href="question/alltesting?questionsCount=2&category=Java">Check 2 questions from <i>Java</i> category.</a>
</div>
<div>
    <a href="question/allsql">Check all questions retrieved via JdbcTemplate execution of SQL query.</a>
</div>
<div>
    <a href="question/statistics/count">Check registered question count</a>
</div>
<div>
    <a href="question/random/5">Get 5 random Java questions</a>
</div>
<hr/>


<h2>Browse Answers</h2>
<div>
    <a href="/answer">Check all Answers via <i>Hibernate</i> repository.</a>
</div>

</body>
</html>