<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Database was populated with starter data read from CSV file.</p>
<div>
    <a href="/all">Check all data retrieved via <i>Hibernate</i>.</a>
</div>
<div>
    <a href="/alltesting?questionsCount=3&category=Java">Check 3 questions from <i>Java</i> category here.</a>
</div>
<div>
    <a href="/allsql">Check all data retrieved via JdbcTemplate.</a>
</div>

</body>
</html>